<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Game R4ters</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <img src="https://th.bing.com/th/id/OIP.gxhO643_jqv-oNX0_0vXfQHaFj?w=215&h=180&c=7&r=0&o=5&pid=1.7" width="200px">
    <h1> Game R4ters </h1>
    <p>
     Hoi! Welkom op mijn website.<br>
     Hier ga ik het hebben over video spellen en hun statistieken.
    
      </p>
    <p>
    
      </p>
      <p>
      Laat me beginnen met wat ik allemaal ga laten zien.<br>
      Ten eerste ga de spellen opnoemen waar ik het over ga hebben, daarna zal ik wat statistieken geven zoal: spelers per dag, leeftijd, wat voor soort spel het is etc.<br>
      </p>
      <p>
      
      Tijd om te beginnen

        </p>
        <img src="https://th.bing.com/th/id/OIP.cVl1VWZ9qCjpy3moHdlggwHaD3?pid=ImgDet&rs=1">
     
        <h3> De spellen waar ik het over ga hebben </h3><br>
          <ol>
        <li>Minecraft</li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Minecraft_cube.svg/500px-Minecraft_cube.svg.png" width="100px">
        <li>Counter-Strike: Global Offensive</li>
        <img src="https://th.bing.com/th/id/OIP.MV2_lZ1ChmLMw4HRksFVGwHaFP?w=245&h=180&c=7&r=0&o=5&pid=1.7" width="100px">
        <li>Grand Theft Auto V</li> 
        <img src="https://th.bing.com/th/id/OIP.D1EKj9ThEceNXn2YSkE7HAHaCx?w=331&h=131&c=7&r=0&o=5&pid=1.7" width="100px">
        <li>Valorant</li>
        <img src="https://th.bing.com/th/id/OIP.QF53PD2iwvbhlSADQH5QMQHaEK?w=286&h=180&c=7&r=0&o=5&pid=1.7" width="100px"> 
        </ol>
    <script src="script.js"></script>
  </body>
</html>