<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Anouar website repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <img src="https://th.bing.com/th/id/R.315dbf959d428662ccc381d192c1551b?rik=vbpLIcQj2179pw&pid=ImgRaw&r=0" width="150px">
    <h1> Anouar's website </h1>
    <p>
    Hoi! Welkom op mijn website.<br>
    Hier ga ik het hebben over video spellen en hun statistieken.
    
      </p>
    <p>
    L
      </p>
    <script src="script.js"></script>
  </body>
</html>